nav  {
    display: flex;
    justify-content: space-evenly;
}
nav a   {
    display: block;
    padding: 5px;
    background-color:rgb(168, 154, 135);
    color: rgb(248, 255, 232);
    text-decoration: none;
    width: 20%;
    border-radius: 5px;
    text-align: center;
}
.layout {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
    
}
.main   {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cards  {
    border: 1px solid;
    padding: 10px;
}
.pics    {
    width: 200px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}
footer a   {
    display: block;
    margin: 3px 40%;
}
