nav  {
    display: flex;
    justify-content: space-evenly;
}
nav a   {
    display: block;
    padding: 5px;
    background-color:rgb(168, 154, 135);
    color: rgb(248, 255, 232);
    text-decoration: none;
    width: 20%;
    border-radius: 5px;
    text-align: center;
}
.layout {
    display: flex;
    gap: 10%;
    padding: 20px;
    
}
.main   {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards  {
    border: 1px solid rgb(77, 12, 12);
    padding: 10px;
    width: 250px;
    background: white;
}
.pics    {
    width: 100%;
    display: block;
}
.footers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 20px;
}
.footers a   {
    display: block;
    width:20%
}
.sidebar    {
    width:220px;
}

