body    {
    font-family: 'Courier New', Courier, monospace;
}
.table  {
    margin: 5px auto;
    border: thin solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: rgb(196, 171, 141);
}
.table td, .table th {
    border: thin solid black;
    padding: 5px;
}
.table th {
    background-color: bisque;
}
.table tbody tr:nth-child(odd) {
    background-color: aliceblue;
}