.gallery {
    margin-top: 40px;
}

.gallery.physical {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
}

.gallery.physical img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 8px 8px rgb(137, 183, 134);
}

@media (max-width: 768px) {
    .gallery.physical {
        grid-template-columns: 1fr;
    }

    .gallery.digital img {
        width: 100%;
    }
}